NODE_ENV=development
PORT=3000

# Postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
DATABASE_NAME=crm_koc
DATABASE_SSL_ENABLED=false

# Nếu set, DATABASE_URL sẽ được ưu tiên hơn các biến DATABASE_* ở trên
# DATABASE_URL=postgres://user:password@host:5432/crm_koc
